<table id="oferta">
    <thead>
      <th>
        <h2 class="card-title" id="tytolpost">{{post.title}}</h2>
      </th>
    </thead>
    <tr>
      <td>
        {% if post.post_image %}
        <img src="{{post.post_image.url}}" width="260px" class="img-thumbnail"alt="Nie działa :(">
        {% else %}
        <p>*Brak obrazu dla tej oferty*</p>
        {% endif %}
      </td>
      <td>
        <h4 class="cena">{{post.price}} PLN</h4>
      </td>
    </tr>
</table>
<p>by:
  <a class="ownerm" href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
    {{post.user.username}}
  </a>
</p>
